%p#notice= notice

%p
  %b Adm no:
  = @student.adm_no
%p
  %b Name:
  = @student.name
%p
  %b Classroom:
  = @student.classroom.name

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', students_path
