= form_for @term do |f|
  - if @term.errors.any?
    #error_explanation
      %h2= "#{pluralize(@term.errors.count, "error")} prohibited this term from being saved:"
      %ul
        - @term.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :academic_year
    / = f.collection_select :country_id, Country.order(:name), :id, :name, include_blank: true
    = f.collection_select :academic_year_id, AcademicYear.order(:year), :id, :year, include_blank: true
    / = f.text_field :academic_year
  .actions
    = f.submit 'Save'
