= form_for @result do |f|
  - if @result.errors.any?
    #error_explanation
      %h2= "#{pluralize(@result.errors.count, "error")} prohibited this result from being saved:"
      %ul
        - @result.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :exam
    = f.collection_select :exam_id, Exam.order(:name), :id, :name, include_blank: true
    / = f.text_field :exam
  .field
    = f.label :student
    = f.collection_select :student_id, Student.order(:adm_no), :id, :stud_name, include_blank: true
    / = f.text_field :student

  %hr
  = f.fields_for :marks do |mark|
    .field
      = mark.label :subject
      = mark.collection_select :subject_id, Subject.order(:code), :id, :name, include_blank: true
      / = mark.text_field :subject
    .field
      = mark.label :mark
      = mark.text_field :mark
    %hr 

  .actions
    = f.submit 'Save'
