%p#notice= notice

%p
  %b Exam:
  = @result.exam.name
%p
  %b Student:
  = @result.student.stud_name
%hr

%table
  %thead
    %tr
      %th Subject
      %th Mark

  %tbody
    - @result.marks.each do |mark|
      %tr
        %td= mark.subject.name
        %td= mark.mark


= link_to 'Edit', edit_result_path(@result)
\|
= link_to 'Back', results_path
