%h1 Listing Exam Results

%table
  %thead
    %tr
      %th Exam Name
      %th Student
      / %th
      %th english
      %th swahili
      %th maths
      %th history
      %th
      %th
      %th

  %tbody
    - @exams.each do |exam|
      %tr
        %td= exam.name
        %td= exam.student.name
        / %td
        - exam.marks.each do |mark|
          / %td= mark.subject.name
          %td= mark.mark
        %td= link_to 'Show', exam
        %td= link_to 'Edit', edit_exam_path(exam)
        %td= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Exam', new_exam_path
