%p#notice= notice

%p
  %b Name:
  = @exam.name
%p
  %b Student:
  = @exam.student.name

%table
  %thead
    %tr
      %th Subject
      %th Mark

  %tbody
    - @exam.marks.each do |mark|
      %tr
        %td= mark.subject.name
        %td= mark.mark


= link_to 'Edit', edit_exam_path(@exam)
\|
= link_to 'Back', exams_path
