!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SMS
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav
      = link_to 'home', root_path
      = link_to 'AC Year', academic_years_path
      = link_to 'Terms', terms_path
      = link_to 'Class', classrooms_path
      = link_to 'Subjects', subjects_path
      = link_to 'Students', students_path
      = link_to 'Exams', exams_path
      = link_to 'Marks', marks_path
    = yield
